<div class="align-self-right">

</div>


<nav class="navbar  navbar-dark bg-dark">
   <a class="navbar-brand" href="<%= comments_path %>">Home</a>

    <li class="nav-item btn btn-light">
      <a class="nav-link" href="http://localhost:3000/logout" tabindex="-1">Log Out</a>
    </li>
</nav> <br>